<%- include('partials/header', {username: username}) %>
<main>
  <nav class="navBar">
    <a href="/login">
      <div class="imageLink">
        <div class="loginImage"></div>
        <p>Login</p>
      </div>
    </a>
    <a href="/register">
      <div class="imageLink">
        <div class="registerImage"></div>
        <p>Register</p>
      </div>
    </a>
    <a href="/codesnippets">
      <div class="imageLink">
        <div class="codesnippetImage"></div>
        <p>Code Snippets</p>
      </div>
    </a>
  </nav>
</main>
